header{
    background: rgb(33, 37, 41);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    a{
        color: white;
        text-decoration: none;
        &:hover {
            color:white;
            text-decoration: underline;
        }
        &.active{
            text-decoration: underline;
        }
        &:not(:last-child){
            margin-right: 15px;
        }
    }
    .auth, .user{
        display: flex;
        justify-content: flex-end;
    }
}


.from-group {
    margin-bottom: 1rem;
    label {
        margin-bottom: .5rem;
    }
    .inp_help{
        display: flex;
        justify-content: end;
        position: relative;
        height: 0px;
        top: -32px;
        right: 13px;
        a{
            height: fit-content;
        }
    }
}
.badge-success{
    color: #fff;
    background-color: #28a745;
}